@tailwind base;
@tailwind components;
@tailwind utilities;

/* customScrollbar.css */
/* index.css */

.relative {
  position: relative;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

  
  